#nmc_spica {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nmc_spica_wrapper {
	align-items: center;
	display: flex;
    gap: 0.75rem;
	height: var(--header-height);
	padding-right: 1.5rem;
}

.nmc_spica_wrapper div {
	color: var(--color-main-text);
	font-size: 12px;
	margin-top: 1px;
}

.nmc_spica_wrapper:hover div {
	filter: brightness(0) saturate(100%) invert(13%) sepia(85%) saturate(6096%) hue-rotate(321deg) brightness(75%) contrast(104%) !important;
}

.nmc_spica_wrapper:hover::before {
    background-color: var(--color-primary);
    border-bottom-color: var(--color-main-background);
    bottom: 0;
    content: " ";
    display: block;
    height: 4px;
    left: 0;
    pointer-events: none;
    position: absolute;
    transition: all 0.1s ease-in-out;
    width: calc(100% - 0.75rem);
}

.nmc_spica_wrapper .icon-mail {
    background-size: 22px;
    width: 24px;
}

.nmc_spica_wrapper .unread-badge {
	display: none;
}

.nmc_spica_wrapper .has-unread {
	background-color: var(--color-primary);
	border-radius: 2rem;
	color: var(--color-primary-element-text-dark);
	display: block;
	font-size: 0.675rem;
	font-weight: 700;
	height: 1rem;
	line-height: 1rem;
    left: 1rem;
    margin-top: -1rem;
	min-width: calc(1rem - 4px);
	padding: 0 2px;
    position: absolute;
	text-align: center;
	z-index: 1;
}

@media screen and (max-width: 1024px) {

	.nmc_spica_wrapper div:last-child {
		display: none;
	}
}