#nmc_spica {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nmc_spica_wrapper {
	align-items: center;
	color: var(--color-primary-text);
	display: flex;
	height: var(--header-height);
	padding-right: 0.75rem;
}

.nmc_spica_wrapper div {
	font-size: 12px;
	font-weight: bold;
	color: var(--white-color);
}

.nmc_spica_wrapper:hover div {
	filter: brightness(0) saturate(100%) invert(13%) sepia(85%) saturate(6096%) hue-rotate(321deg) brightness(75%) contrast(104%) !important;
}

.nmc_spica_wrapper:hover::before {
    background-color: var(--color-primary);
    border-bottom-color: var(--color-main-background);
    bottom: 8px;
    content: " ";
    display: block;
    height: 4px;
    left: 50%;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.1s ease-in-out;
    width: 100%;
}

.nmc_spica_wrapper .icon-mail {
	padding: 1rem;
}

.nmc_spica_wrapper .unread-badge {
	display: none;
}

.nmc_spica_wrapper .has-unread {
	background-color: var(--color-background-plain);
	border-radius: 2rem;
	color: var(--color-primary-text);
	display: block;
	font-size: 0.675rem;
	font-weight: 700;
	height: 1rem;
	line-height: 1rem;
	margin-left: -18px;
	margin-top: -20px;
	min-width: calc(1rem - 4px);
	padding: 0 2px;
	text-align: center;
	z-index: 1;
}

.nmc_spica_wrapper:hover .has-unread {
    background-color: var(--color-primary);
	color: var(--color-primary-element-text-dark);
}

@media screen and (max-width: 1024px) {

	.nmc_spica_wrapper div:last-child {
		display: none;
	}
}